{ sub_dirs, [

	"apps"
]}.

{ deps_dir,

	"deps"
}.


{ deps, [
	
	% HTTP client with support for HTTP/1.1, SPDY and Websocket
%	{ gun,                    ".*", { git, "git://github.com/ninenines/gun",                   { tag, "master" } } },
	{ gun,                    ".*", { git, "git://github.com/mkshar/gun",                      { tag, "master" } } },
	
	{ cowlib,                 ".*", { git, "git://github.com/ninenines/cowlib",                { tag, "master" } } },

	{ ranch,                  ".*", { git, "git://github.com/ninenines/ranch",                 { tag, "master" } } },

	% Build & Release Packaging tool
%	{ mad,                    ".*", { git, "git://github.com/synrc/mad",                       { tag, "master" } } },
	{ mad,                    ".*", { git, "git://github.com/mkshar/mad",                      { tag, "master" } } },
		
%	% Redis client
%	{ eredis,                 ".*", { git, "git://github.com/wooga/eredis",                    { tag, "v1.0.8" } } }
%	{ eredis,                 ".*", { git, "git://github.com/mkshar/eredis",                   { tag, "master" } } },

	% origin: https://github.com/sile/jsone
	{ jsone,                  ".*", { git, "git://github.com/mkshar/jsone",                    { tag, "master" } } },
	
	% Planning to replace Redis with RabbitMQ!
%	{ rabbitmq,               ".*", { git, "git://github.com/rabbitmq/rabbitmq-erlang-client", { tag, "master" } } },

	% Logging facility
	{ lager,                  ".*", { git, "git://github.com/basho/lager",                     { tag, "master" } } },

	
	% Logging backends
	
%		https://github.com/mhald/lager_logstash_backend
%		{ lager_logstash_backend, ".*", { git, "git://github.com/mkshar/lager_logstash_backend", { tag, "master" } } },
%		https://github.com/mkshar/lager_syslog
%		{ lager_syslog,           ".*", { git, "git://github.com/mkshar/lager_syslog",           { tag, "master" } } },


	% Process Registry
	{ gproc,                  ".*", { git, "git://github.com/uwiger/gproc.git",                { tag, "0.3"    } } },
		
%	% HTTP Server
%	{ cowboy,                 ".*", { git, "git://github.com/extend/cowboy",                   { tag, "1.0.1"  } } },
	{ cowboy,                 ".*", { git, "git://github.com/extend/cowboy",                   { tag, "master"  } } },
		
	% Django Templates Compiler
%	{ erlydtl,                ".*", { git, "git://github.com/evanmiller/erlydtl",              { tag, "0.8.0"  } } },
		
	% Nitrogen Web Framework
%%	{ nitro,                  ".*", { git, "git://github.com/synrc/nitro",                     { tag, "0.9"    } } },
%	{ nitro,                  ".*", { git, "git://github.com/mkshar/nitro",                    { tag, "master" } } },
		
	% Next Generation Nitrogen :)
%%	{ n2o,                    ".*", { git, "git://github.com/synrc/n2o",                       { tag, "2.9"    } } },
%	{ n2o,                    ".*", { git, "git://github.com/mkshar/n2o",                      { tag, "master" } } },
		
	% Filesystem Monitor
	{ fs,                     ".*", { git, "git://github.com/synrc/fs",                        { tag, "1.9"    } } },

	% Monitor-Compile-Reload Facility
	{ active,                 ".*", { git, "git://github.com/synrc/active",                    { tag, "1.9"    } } },

	% Shell Utilities
	{ sh,                     ".*", { git, "git://github.com/synrc/sh",                        { tag, "1.9"    } } }

]}.

{ eunit_opts, [

	verbose
]}.

{ erl_opts, [

	debug_info,
	fail_on_warning,
	{ parse_transform, lager_transform }
]}.

% EOF
