%{ sub_dirs, [ "src", "test" ] }.
{ lib_dirs, [ "../xlib/include" ] }.

{ deps, [

	% HTTP/Websocket Server
	% origin: https://github.com/ninenines/cowboy
	% "1.0.1"
	{ cowboy, ".*", { git, "git://github.com/mkshar/cowboy", { tag, "master" } } },
	
	% origin: https://github.com/sile/jsone
	{ jsone,  ".*", { git, "git://github.com/mkshar/jsone",  { tag, "master" } } }
]}.
